@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

/* start menu */
:root {
    --primary-color: #FFD700;
    --secondary-color: #8b0000ea;
    --hover-color: #8b0000;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ccc;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ffd900cb;
}

html {
    scroll-behavior: smooth;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    /* overflow: hidden; */
}

nav {
    padding: 5px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    z-index: 1;
}

nav .logo {
    display: flex;
    align-items: center;
}

nav .logo img {
    height: 45px;
    width: auto;
    margin-right: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

nav .logo img:hover {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

nav .logo h1 {
    font-size: 1.5rem;
    background: linear-gradient(to right, #ffd90042 0%, #ffd900af 50%, #FFD700 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 1.5rem;
}

nav ul li a {
    position: relative;
    text-decoration: none;
    color: #000;
    font-size: 1.4rem;
    font-weight: 400;
    padding: 10px 8px;
    border-radius: 5px;
    transition: background-color 0.6s ease;
    -webkit-transition: background-color 0.6s ease;
    -moz-transition: background-color 0.6s ease;
    -ms-transition: background-color 0.6s ease;
    -o-transition: background-color 0.6s ease;
}

nav ul li a::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background-color: var(--primary-color);
    width: 0px;
    height: 3px;
    transition: all 0.6s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
}

nav ul li a:hover::before {
    width: 100%;
    height: 3px;
}

nav ul li a:hover {
    background-color: #f5f5f5;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger .line {
    width: 25px;
    height: 1px;
    background-color: #1f1f1f;
    display: block;
    margin: 7px auto;
    transition: all 0.3s ease-in-out;
}

.hamburger-active {
    transition: all 0.3s ease-in-out;
    transition-delay: 0.6s;
    transform: rotate(45deg);
}

.hamburger-active .line:nth-child(2) {
    width: 0px;
}

.hamburger-active .line:nth-child(1),
.hamburger-active .line:nth-child(3) {
    transition-delay: 0.3s;
}

.hamburger-active .line:nth-child(1) {
    transform: translateY(12px);
}

.hamburger-active .line:nth-child(3) {
    transform: translateY(-5px) rotate(90deg);
}

.menubar {
    position: absolute;
    top: 0;
    left: -60%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 60%;
    height: 100vh;
    padding: 20% 0;
    background: rgba(255, 255, 255);
    transition: all 0.5s ease-in;
    z-index: 2;
}

.active {
    left: 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.menubar ul {
    padding: 0;
    list-style: none;
}

.menubar ul li {
    margin-bottom: 32px;
}

.menubar ul li a {
    position: relative;
    text-decoration: none;
    color: #000;
    font-size: 1.4rem;
    font-weight: 400;
    padding: 5px 10px;
    border-radius: 5px;
}

.menubar ul li a::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background-color: var(--primary-color);
    width: 0px;
    height: 3px;
    transition: all 0.6s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
}

.menubar ul li a:hover::before {
    width: 100%;
    height: 3px;
}

.menubar ul li a:hover {
    background-color: #f5f5f5;
}

@media screen and (max-width: 790px) {
    .hamburger {
        display: block;
    }

    nav ul {
        display: none;
    }
}

/* end menu */
/* start lan  */
.lan {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}

.lan img {
    width: 350px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.lan img:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transition: all 3s ease;
    -webkit-transition: all 3s ease;
    -moz-transition: all 3s ease;
    -ms-transition: all 3s ease;
    -o-transition: all 3s ease;
    filter: grayscale(50%);
    -webkit-filter: grayscale(50%);
}


.lan h2 {
    font-size: 2.1rem;
    background: linear-gradient(to right, #ffd90042 0%, #ffd900af 50%, #FFD700 100%);
    border-radius: 5px;
    color: whitesmoke;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    text-align: right;
    padding-right: 15px;

}

.lan h2:hover {
    padding-right: 30px;
    transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
}

.lan p {
    font-size: 1.8rem;
}

@media screen and (max-width: 768px) {
    .lan {
        flex-direction: column-reverse;
    }

    .lan p {
        font-size: 1.1rem;
    }

    .lan img {
        width: 250px;
    }

    .lan {
        margin-top: 30px;
    }
}

.icon-1 {
    cursor: pointer;
    left: 45%;
    transform: translateX(-50%);
    position: relative;
    top: 30px;
    font-size: 25px;
    border-radius: 10px;
    border: 1px solid var(--secondary-color);
    padding: 10px;
    color: var(--primary-color);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: #111;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    animation-name: bounce-3;
    animation-timing-function: ease in out;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    margin-bottom: 90px;

}

.icon-1:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 2px 4px 7px -1px,
        rgba(0, 0, 0, 0.3) 2px 3px 5px -1px;

}

@keyframes bounce-3 {
    0% {
        transform: translateY(0);
    }

    30% {
        transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -o-transform: translateY(-10px);
    }

    50% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(0);
    }
}

/* end lan  */
/* start products  */
.products {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.products hr {
    width: 100px;
    height: 1px;
}

.desc1, .desc2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.desc1 img, .desc2 img {
    width: 300px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.desc1 p, .desc2 p {
    line-height: 1.8;
    font-size: 25px;
}

.desc1 p span, .desc2 p span {
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 5px;
    color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

@media screen and (max-width: 768px) {
    .desc1, .desc2 {
        flex-direction: column-reverse;
    }
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    border: none;
    outline: none;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 5px;
    z-index: 999;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#myBtn i {
    font-size: 18px;
    animation: 0.5s infinite to-top linear;
    -webkit-animation: 0.5s infinite to-top linear;
}

@keyframes to-top {
    0% {
        transform: translateY(6px);
        -webkit-transform: translateY(6px);
        -moz-transform: translateY(6px);
        -ms-transform: translateY(6px);
        -o-transform: translateY(6px);
    }

    100% {
        transform: translateY(-3px);
        -webkit-transform: translateY(-3px);
        -moz-transform: translateY(-3px);
        -ms-transform: translateY(-3px);
        -o-transform: translateY(-3px);
    }
}

#myBtn:hover {
    background-color: #333;
}



/* end products  */
/* start gallery  */
.gallery {
    padding-top: 50px;
    padding-bottom: 50px;
}

.gallery h2 {
    font-weight: bold;
    font-size: 30px;
    background: linear-gradient(to right, #ffd90042 0%, #ffd900af 50%, #FFD700 60%, #FFD700 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0 0 50px;
    text-align: center;
}

.gallery .images-box {
    text-align: center;

}

.gallery .images-box img {
    width: 300px;
    height: 200px;
    padding: 3px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    gap: 10px;
    cursor: pointer;
}

.popup-overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    left: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
}

.popup-box {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 99999;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.popup-box h3 {
    font-weight: bold;
    text-align: center;
    margin: 0 0 20px;
    color: var(--primary-color);
}

.popup-box img {
    width: 200px;
    height: 240px;
}

.close-button {
    position: absolute;
    top: -15px;
    right: -15px;
    background-color: var(--primary-color);
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-weight: bold;
}

/* end gallery  */
/* for test */
.hidden {
    opacity: 0;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    filter: blur(5px);
    transform: translateX(-100%);
    -webkit-filter: blur(5px);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    -webkit-filter: blur(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
        -webkit-transition: none;
        -moz-transition: none;
        -ms-transition: none;
        -o-transition: none;
    }
}

.AboutUs .container div {
    text-align: center;
    padding: 40px;
    margin: 40px;
    color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 150px;
}

.AboutUs .container div:nth-child(2) {
    background-color: #FFD700;
}

.AboutUs .container div:nth-child(3) {
    background-color: #ffd900f1;

}

.AboutUs .container div:nth-child(4) {
    background-color: #ffd900e0;

}

.AboutUs .container div:nth-child(5) {
    background-color: #ffd900d7;

}

.AboutUs .container div:nth-child(6) {
    background-color: #ffd900c2;

}

.AboutUs h2 {
    font-weight: bold;
    font-size: 30px;
    background: linear-gradient(to right, #ffd90042 0%, #ffd900af 50%, #FFD700 60%, #FFD700 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0 0 50px;
    text-align: center;
}

/* start footer  */


.body {
    /* display: flex;
  background: #333;
  justify-content: flex-end;
  align-items: flex-end;
  min-height: 100vh; */
}

.footer {
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-icon,
.menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
    list-style: none;
}

.social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

.social-icon__link:hover {
    transform: translateY(-10px);
}

.menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
}

.menu__link:hover {
    opacity: 1;
}

.footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
}

.wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("https://i.ibb.co/wQZVxxk/wave.png");
    background-size: 1000px 100px;
}

.wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
}

.wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
}

@keyframes animateWaves {
    0% {
        background-position-x: 1000px;
    }

    100% {
        background-positon-x: 0px;
    }
}

@keyframes animate {
    0% {
        background-position-x: -1000px;
    }

    100% {
        background-positon-x: 0px;
    }
}

/* end footer */